In [ ]:
'''
1.Write code snippets in python to perform the following tasks
• Print your current working directory
• Create a new directory on your desktop named: “Text Mining and NLP”
• Make “Text Mining and NLP” your current working directory
'''

In [14]:
import os
os.chdir('/Users/necessaryevil/Learn/edureka')
## Get current directory
path = os.getcwd()

print(path)

/Users/necessaryevil/Learn/edureka

In [15]:
## Change directory
os.chdir('../../Desktop')
path = os.getcwd()
print(path)

/Users/necessaryevil/Desktop

In [16]:
## Creating a directory
path +='/Text Mining and NLP'
os.mkdir(path)
os.chdir(path)
path = os.getcwd()

print(path)

/Users/necessaryevil/Desktop/Text Mining and NLP

In [ ]:
'''
2. Write code snippets in python to perform the following tasks:
• Create a text file named “Greetings.txt” and write “Welcome to Text Mining and Natural Language Processing”
• Move this file to the folder “Text Mining and NLP” which you created in ques 1
• Rename this file to “Welcome.txt”
'''

In [18]:
file = r'/Users/necessaryevil/Desktop/Greetings.txt'
txt = "Welcome to Text Mining and Natural Language Processing"
with open(file, 'w') as f:
    f.write(txt)

In [19]:
destination = r'/Users/necessaryevil/Desktop/Text Mining and NLP/Welcome.txt'
os.rename(file, destination)

In [20]:
os.listdir(path)

['Welcome.txt']

In [ ]:
'''
3.You are given a docx file named “NLP.docx”. Perform the following tasks:
• Use DOCX module to open the file and perform the following tasks:
• How many paragraphs are there in the file?
• For each paragraph, print the number of words it contains
• Read the content from “Welcome.txt” file which you created in question number 2 and make that content the first paragraph in “NLP.docx” file
'''

In [28]:
## Using DOCX module to view file content and edit it
from docx import Document
doc_file = path +'/'+'NLP.docx'
doc = Document(doc_file)
print('Total Number of Paragraphs --> {0}'.format(len(doc.paragraphs)))

Total Number of Paragraphs --> 26

In [38]:
doc.paragraphs

[<docx.text.paragraph.Paragraph at 0x7fcaadc688d0>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc682d0>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68490>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68b10>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68150>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68b50>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68250>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68290>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68d90>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68450>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68810>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68350>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68790>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68a50>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68710>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68fd0>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68bd0>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68390>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc68f90>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc6d250>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc6d3d0>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc6d450>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc6dd90>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc6d590>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc6de50>,
 <docx.text.paragraph.Paragraph at 0x7fcaadc6df50>]

In [37]:
## Reading from paragraph object and getting the word count of each paragraph

i = 1
for para in doc.paragraphs:
    word = para.text.split(" ")
    print('Paragraph {0}  -- Total word count is {1} '.format(i,len(word)))
    i += 1

Paragraph 1  -- Total word count is 71
Paragraph 2  -- Total word count is 56
Paragraph 3  -- Total word count is 132
Paragraph 4  -- Total word count is 26
Paragraph 5  -- Total word count is 6
Paragraph 6  -- Total word count is 68
Paragraph 7  -- Total word count is 38
Paragraph 8  -- Total word count is 61
Paragraph 9  -- Total word count is 47
Paragraph 10  -- Total word count is 50
Paragraph 11  -- Total word count is 9
Paragraph 12  -- Total word count is 61
Paragraph 13  -- Total word count is 37
Paragraph 14  -- Total word count is 74
Paragraph 15  -- Total word count is 92
Paragraph 16  -- Total word count is 8
Paragraph 17  -- Total word count is 43
Paragraph 18  -- Total word count is 104
Paragraph 19  -- Total word count is 32
Paragraph 20  -- Total word count is 53
Paragraph 21  -- Total word count is 58
Paragraph 22  -- Total word count is 6
Paragraph 23  -- Total word count is 77
Paragraph 24  -- Total word count is 89
Paragraph 25  -- Total word count is 68
Paragraph 26  -- Total word count is 57

In [40]:
## Reading from the file
contents=""
with open(destination) as f:
    contents = f.read()

print(contents)

Welcome to Text Mining and Natural Language Processing

In [43]:
## converting the content into paragraph and inserting it at the start
from docx.text.paragraph import Paragraph
print(doc.paragraphs[0])
next_par = doc.paragraphs[0]
next_par.insert_paragraph_before(contents)

<docx.text.paragraph.Paragraph object at 0x7fcaadc37a90>

In [45]:
len(doc.paragraphs)

27

In [47]:
## Verifying the docx file after adding it
i = 1
for para in doc.paragraphs:
    print(para.text)
    if i == 3:
        break
    i += 1

Welcome to Text Mining and Natural Language Processing
To the outside observer, Natural Language Processing (NLP) may seem futuristic.  a third of smartphone owners use their personal assistants regularly (a hallmark of NLP technologies), even though 95 percent have tried them at some point, according to Creative Strategies, a consultancy. However, Natural Language Processing advances continue in leaps and bounds, as Digital Neural Networks (DNN) and Machine Learning become more intricate. Both technologies enhance NLP technologies up to 30 percent.
The Economist states, that this paradigm has shifted language technology from usable at a pinch to really rather good”. So, when Barclays, a British bank, offered an identification using a user’s voice and NLP, 84 percent of the users signed up within five months, indicating that consumers are jumping on the bandwagon and wanting more benefits from NLP.

In [50]:
# saving the document
doc.save(doc_file)

In [ ]:
'''
4.You are given a csv file named “EmployeeDetails.csv”. Perform the following tasks:
• Use pandas module to read the csv file
• Split the name as first name and last name and make two separate columns as shown
• Delete “Name” Column
• Increment the “Salary” Column by 10% of the existing value and save changes in same column only as shown
• Save changes to a new file named “Employee_Data.csv”
'''

In [53]:
## Reading csv file
import pandas as pd
filecsv = r'/Users/necessaryevil/Desktop/Text Mining and NLP/EmployeeDetails.csv'
df = pd.read_csv(filecsv)
df.head()

             Name   Age  Salary
0     Arjun singh    24   10000
1       Vibhor Jha   26   25000
2  Yoshita Debnath   23   15000
3   Abhitesh Setia   25   18000
4    Shaurya Nayar   26   30000

In [76]:
## Splitting the column into 2 different column

df[['First_Name','Last_Name','Extra']] = df[df.columns[0]].str.split(" ",expand=True)
df.head()

             Name   Age  Salary First_Name Last_Name Extra
0     Arjun singh    24   10000      Arjun     singh
1       Vibhor Jha   26   25000     Vibhor       Jha  None
2  Yoshita Debnath   23   15000    Yoshita   Debnath  None
3   Abhitesh Setia   25   18000   Abhitesh     Setia  None
4    Shaurya Nayar   26   30000    Shaurya     Nayar  None

In [78]:
## Dropping column which are not required
df.drop(['Name ','Extra'],axis = 1,inplace = True)

In [79]:
df.head()

   Age  Salary First_Name Last_Name
0   24   10000      Arjun     singh
1   26   25000     Vibhor       Jha
2   23   15000    Yoshita   Debnath
3   25   18000   Abhitesh     Setia
4   26   30000    Shaurya     Nayar

In [80]:
## Increasing the salary by 10%
df['Salary'] = df['Salary'] * 1.1

In [81]:
df.head()

   Age   Salary First_Name Last_Name
0   24  11000.0      Arjun     singh
1   26  27500.0     Vibhor       Jha
2   23  16500.0    Yoshita   Debnath
3   25  19800.0   Abhitesh     Setia
4   26  33000.0    Shaurya     Nayar

In [82]:
## Saving the final data into csv
finalfilecsv = r'/Users/necessaryevil/Desktop/Text Mining and NLP/Employee_Data.csv'
df.to_csv(finalfilecsv,  index=False,header= True)
os.listdir(path)

['EmployeeDetails.csv', 'Employee_Data.csv', 'NLP.docx', 'Welcome.txt']